
    <div ng-controller="UserController as cards">
        <div class="col-md-6 col-lg-6" ng-repeat="user in cards.users">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{user.name.value}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                        <table class="table table-user-information">
                            <tbody>
                                <tr ng-repeat=" fields in user">
                                    <td ng-repeat="field in fields">{{field}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>